@model SkillUp.Models.TasksModel

    <div>
        <h4>Your tasks:</h4>

        <p class="TaskPopupContent">@Html.DisplayFor(model => model.Content)</p>

    </div>
<div>
    <button type="button" class="btn btn-primary mb-3" id="taskExitBtn">
        Close
    </button>
</div>
