@model IEnumerable<SkillUp.Models.TasksModel>

<div id="taskDetails" class="d-none">
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Completed)
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" id="taskDetailsBtn" data=@item.Id data-toggle="modal" data-target="#exampleModal">
                            Details
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>