@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p><a href='https://pl.freepik.com/wektory/ludzie'>Ludzie plik wektorowy utworzone przez macrovector_official - pl.freepik.com</a></p>
<p><a href='https://pl.freepik.com/wektory/biznes'>Biznes plik wektorowy utworzone przez iconicbestiary - pl.freepik.com</a></p>
